<component name="libraryTable">
  <library name="springaoplib">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../06第六阶段：Spring/软件/软件/springaoplib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../06第六阶段：Spring/软件/软件/springaoplib" recursive="false" />
  </library>
</component>